<section class="page__company company" id="anchor-copmpany">
	<div class="company__container">
		<div class="company__body">
			<h2 class="company__title"><span>O projekcie</span></h2>
			<div class="company__desc">
				<p>Decyzja Ministerstwa Klimatu Rzeczypospolitej Polskiej oficjalnie potwierdza, że inwestycje w pierwszą elektrownię jądrowe w Polsce są zgodne z interesem publicznym oraz polityką prowadzoną przez państwo, zwłaszcza polityką energetyczną. Każdy obywatel Polski będzie mógł czerpać korzyści z energii wytwarzanej przez elektrownię jądrowe.
				</p>
				<p>
					"Planowany projekt realizuje Polski Program Rozwoju Energii Jądrowej, jest zgodny z Polityką Energetyczną Polski do 2040 roku oraz odpowiada celom polityki klimatycznej Unii Europejskiej" - głosi komunikat.
				</p>
				<p>
					Aby rozpocząć pracę, prosimy o zarejestrowanie się na tej stronie i dokonanie minimalnej wpłaty w wysokości 1100 złotych.
				</p>
			</div>
			<div class="company__owner">
				<div class="company__owner-name">Mateusz Berger</div>
				<div class="company__owner-position">Prezes spółki Polskie Elektrownie Jądrowe (PEJ)</div>
			</div>
		</div>
		<div class="company__image image--ibg">
			<img src="@img/company/berger.png" alt="Mateusz Berger">
		</div>
	</div>
</section>