<section class="page__earning earning" id="anchor-earn">
	<div class="earning__container">
		<div class="earning__body">
			<div class="earning__desription description">
				<h2 class="description__title">
					Dlaczego jest to korzystne dla zwykłych obywateli
				</h2>
				<div class="description__column">
					<div class="description__image image--ibg">
						<img src="@img/earn/pic_1.jpg" alt="Increase">
					</div>
					<div class="description__info">
						Nowy projekt, który historycznie wpłynie na gospodarkę kraju i każdego obywatela.
					</div>
				</div>
				<div class="description__column">
					<div class="description__image image--ibg">
						<img src="@img/earn/pic_2.jpg" alt="Money">
					</div>
					<div class="description__info">
						Zarabiaj od 15 000 złotych już od pierwszego miesiąca
					</div>
				</div>
				<div class="description__column">
					<div class="description__image image--ibg">
						<img src="@img/earn/pic_3.jpg" alt="Calculation">
					</div>
					<div class="description__info">
						Możliwość szybkiej wypłaty zarobków za pomocą dowolnego wygodnego systemu płatności lub karty bankowej
					</div>
				</div>
			</div>
			<div class="earning__answers answers">
				<h2 class="answers__title">
					Jak zacząć zarabiać dzięki energii jądrowej?
				</h2>
				<div class="answers__info">
					<p>1.Wypełnij formularz rejestracyjy na tej stronie.</p>
					<p>2.Odbierz telefon od naszego menedżera, aby potwierdzić rejestrację i dalszą pracę na platformie.
					</p>
					<p>3.Zarabiaj pasywnie co miesiąc dzięki inwestycji w wysokości 1100 złotych, gdy rozpoczniesz współpracę z naszym projektem
					</p>
				</div>
			</div>
		</div>
	</div>
</section>