<footer class="footer">
	<div class="footer__container">
		<div class="footer__body">
			<div class="footer__data">
				<div class="footer__name">
					Polskie Elektrownie Jądrowe sp. z o. o.
				</div>
				<div class="footer__adress">
					Aleje Jerozolimskie 132/136, 02-305 Warszawa
				</div>
				<div class="footer__phone">
					Tel.: (+48 22) 340 2980
				</div>
			</div>
			<div class="footer__social">
				<a href="#" class="footer__linkedin linkedin--ibg">
					<img src="@img/footer/linkedin.png" alt="linkedin">
				</a>
				<a href="#" class="footer__twitter twitter--ibg">
					<img src="@img/footer/twitter.png" alt="twitter">
				</a>
			</div>
			<div class="footer__info">
				<a href="#" class="footer__contakt">Kontakt</a>
				<a href="#" class="footer__privat">Polityka prywatności</a>
			</div>
		</div>
	</div>
</footer>