<section class="page__form">
	<div class="form__container">
		<div class="form__body">
			<form  id="form" class="form" action="">
				<h2 class="form__title">Zarejestruj się</h2>
				<div class="form__name">
					<input class="input2" type="text" name="name2" id="name2" placeholder="Imię" autocomplete="off">
				</div>
				<div class="form__surname">
					<input class="input2" type="text" name="surname2" id="surname2" placeholder="Nazwisko">
				</div>
				<div class="form__email">
					<input class="input2" type="email" name="email2" id="email2" placeholder="E-mail" autocomplete="off">
				</div>
				<div class="form__phone" id="form__phone">
					<input class="input2" type="tel" name="phone2" id="phone2">
				</div>
				<button class="form__btn" type='submit' >zarejestruj się</button>
				<div class="form__fon1 fon--ibg">
					<img src="@img/info/fon_1.png" alt="Fon1">
				</div>
				<div class="form__fon2 fon--ibg">
					<img src="@img/info/fon_back.png" alt="Fon2">
				</div>
				<div class="form__fon3 fon--ibg">
					<img src="@img/info/fon_back.png" alt="Fon3">
				</div>
				</form>
		</div>
	</div>
</section>