<header class="header">
	<div class="header__container">
		<div class="header__wrapper">
			<div class="header__logo">
				<span>Polskie</span>
				<span>Elektrownie Jądrowe</span>
				<span>sp. z o. o.</span>
			</div>
			<div class="header__burger burger">
				<span class="burger__line"></span>
			</div>
			<nav class="header__menu menu">
				<ul class="menu__list">
					<li class="menu__item"><a href="#anchor-copmpany" class="menu__link">O projekcie</a></li>
					<li class="menu__item"><a href="#anchor-project" class="menu__link">O spółce</a></li>
					<li class="menu__item"><a href="#anchor-slider" class="menu__link">Opinie</a></li>
					<li class="menu__item"><a href="#anchor-range" class="menu__link">Dla inwestorów</a></li>
					<li class="menu__item"><a href="#anchor-earn" class="menu__link">Jak zacząć?</a></li>
				</ul>
			</nav>
		</div>
	</div>
	<div class="header__image image--ibg">
		<img src="@img/header/header.png" alt="fon">
	</div>
</header>