<section class="page__info info">
	<div class="info__container">
		<div class="info__body">
			<div class="info__forma">
				<form id="forma" class="forma" action="#">
					<h2 class="forma__title">Zarejestruj się</h2>
					<div class="forma__name">
						<input class="input" type="text" name="name" id="name" placeholder="Imię" autocomplete="off">
					</div>
					<div class="forma__surname">
						<input class="input" type="text" name="surname" id="surname" placeholder="Nazwisko">
					</div>
					<div class="forma__email">
						<input class="input" type="email" name="email" id="email" placeholder="E-mail" autocomplete="off">
					</div>
					<div class="forma__phone" id="forma__phone">
						<input class="input" type="tel" name="phone" id="phone">
					</div> 
					<button class="forma__btn" type='submit' >zarejestruj się</button>
					<div class="forma__fon1 fon--ibg">
						<img src="@img/info/fon_1.png" alt="Fon1">
					</div>
					<div class="forma__fon2 fon--ibg">
						<img src="@img/info/fon_back.png" alt="Fon2">
					</div>
					<div class="forma__fon3 fon--ibg">
						<img src="@img/info/fon_back.png" alt="Fon3">
					</div>
				</form>
			</div>
			<div class="info__content content">
				<h2 class="content__title">Dzięki wsparciu </h2>
				<div class="content__info">
					<div class="content__minist minist--ibg">
						<img src="@img/info/ministerstwo.png" alt="Ministerstwo">
					</div>
					<div class="content__seim seim--ibg">
						<img src="@img/info/seim.png" alt="Seim">
					</div>
				</div>
				<div class="content__rect"></div>
			</div>
		</div>
	</div>
</section>