<section class="page__project project" id="anchor-project">
	<div class="project__container">
		<div class="project__body">
			<h2 class="project__title"><span>O spółce</span></h2>
			<div class="project__desc">
				<p>Jak zaznaczono, elektrownia jądrowe ma na celu zrekompensowanie przewidywanego wzrostu zapotrzebowania na energię elektryczną, stabilizację dostaw energii oraz dywersyfikację źródeł energii w kraju.
				</p>
				<p>Zgodnie z zezwoleniem, inwestor może złożyć podania o dalsze decyzje administracyjne, zwłaszcza dotyczące określenia lokalizacji. Według Ministerstwa Klimatu i Środowiska, decyzję popiera 86% Polaków, z których większość wyraża zgodę na budowę elektrowni atomowej w pobliżu swojego miejsca zamieszkania.
				</p>
				<p>W ramach Polskiego Programu Rozwoju Energii Jądrowej planowana jest budowa dwóch elektrowni atomowych.
				</p>
			</div>
			<button type="button" class="project__btn">Zarejestruj się i zarabiaj</button>
			<div class="project__info">Dane rejestrowe spółki: <br>
				Polskie Elektrownie Jądrowe spółka z ograniczoną odpowiedzialnością z siedzibą w Warszawie, ul. Mokotowska 49, 00-542 Warszawa, spółka wpisana do Rejestru przedsiębiorców Krajowego Rejestru Sądowego prowadzonego przez Sąd Rejonowy dla m. st. Warszawy w Warszawie, XII Wydział Gospodarczy Krajowego Rejestru Sądowego pod numerem KRS: 0000347416, kapitał zakładowy 2.948.201.430 zł, NIP: 701 021 82 99, REGON: 142242032.
			</div>
		</div>
		<div class="project__image imaje--ibg">
			<img src="@img/project/station.png" alt="Station">
		</div>
	</div>
</section>