<section class="page__range range" id="anchor-range">
	<div class="range__container">
		<div class="range__body">
			<h2 class="range__title">ile będę zarabiał?</h2>
			<h3 class="range__subtitle">Twoja inwestycja</h3>
			<div class="range__lib" id="slider-range"></div>			
			<div class="range__price">				
				<div class="range__start">1100 PLN</div>
				<div class="range__end">500 000 + PLN</div>
			</div>
			<div class="range__sum">
				<div class="range__info">Zarobisz</div>
				<div id="amount" class="range__amount"></div>
			</div>
			<button class="range__btn" type="button">Dołącz do nas</button>
		</div>
	</div>
</section>