<section class="page__swiper" id="anchor-slider">
	<div class="swiper">
		<!-- Additional required wrapper -->
		<div class="swiper__body swiper-wrapper">
			<!-- Slides -->
			<div class="swiper__block block swiper-slide">
				<h2 class="block__title"><span>Opinie</span></h2>
				<div class="block__image image--ibg">
					<img src="@img/slider/mateush.jpeg" alt="Mateusz Morawecki">
				</div>
				<div class="block__name">Mateusz Morawecki</div>
				<div class="block__age">39 lat - Kierowca</div>
				<div class="block__desc">
					Decyzja Ministerstwa Klimatu Rzeczypospolitej Polskiej oficjalnie potwierdza, że inwestycje w pierwszą elektrownię jądrowe w Polsce są zgodne z interesem publicznym oraz polityką prowadzoną przez państwo, zwłaszcza polityką energetyczną. Każdy obywatel Polski będzie mógł czerpać korzyści z energii wytwarzanej przez elektrownię jądrowe.
				</div>
			</div>
			<div class="swiper__block block swiper-slide">
				<h2 class="block__title"><span>Opinie</span></h2>
				<div class="block__image image--ibg">
					<img src="@img/slider/avatar_1.jpg" alt="Mateusz Morawecki">
				</div>
				<div class="block__name">Mateusz Morawecki</div>
				<div class="block__age">39 lat - Kierowca</div>
				<div class="block__desc">
					Decyzja Ministerstwa Klimatu Rzeczypospolitej Polskiej oficjalnie potwierdza, że inwestycje w pierwszą elektrownię jądrowe w Polsce są zgodne z interesem publicznym oraz polityką prowadzoną przez państwo, zwłaszcza polityką energetyczną. Każdy obywatel Polski będzie mógł czerpać korzyści z energii wytwarzanej przez elektrownię jądrowe.
				</div>
			</div>
			<div class="swiper__block block swiper-slide">
				<h2 class="block__title"><span>Opinie</span></h2>
				<div class="block__image image--ibg">
					<img src="@img/slider/avatar_2.jpg" alt="Mateusz Morawecki">
				</div>
				<div class="block__name">Mateusz Morawecki</div>
				<div class="block__age">39 lat - Kierowca</div>
				<div class="block__desc">
					Decyzja Ministerstwa Klimatu Rzeczypospolitej Polskiej oficjalnie potwierdza, że inwestycje w pierwszą elektrownię jądrowe w Polsce są zgodne z interesem publicznym oraz polityką prowadzoną przez państwo, zwłaszcza polityką energetyczną. Każdy obywatel Polski będzie mógł czerpać korzyści z energii wytwarzanej przez elektrownię jądrowe.
				</div>
			</div>
			<div class="swiper__block block swiper-slide">
				<h2 class="block__title"><span>Opinie</span></h2>
				<div class="block__image image--ibg">
					<img src="@img/slider/mateush.jpeg" alt="Mateusz Morawecki">
				</div>
				<div class="block__name">Mateusz Morawecki</div>
				<div class="block__age">39 lat - Kierowca</div>
				<div class="block__desc">
					Decyzja Ministerstwa Klimatu Rzeczypospolitej Polskiej oficjalnie potwierdza, że inwestycje w pierwszą elektrownię jądrowe w Polsce są zgodne z interesem publicznym oraz polityką prowadzoną przez państwo, zwłaszcza polityką energetyczną. Każdy obywatel Polski będzie mógł czerpać korzyści z energii wytwarzanej przez elektrownię jądrowe.
				</div>
			</div>
			<div class="swiper__block block swiper-slide">
				<h2 class="block__title"><span>Opinie</span></h2>
				<div class="block__image image--ibg">
					<img src="@img/slider/avatar_3.jpg" alt="Mateusz Morawecki">
				</div>
				<div class="block__name">Mateusz Morawecki</div>
				<div class="block__age">39 lat - Kierowca</div>
				<div class="block__desc">
					Decyzja Ministerstwa Klimatu Rzeczypospolitej Polskiej oficjalnie potwierdza, że inwestycje w pierwszą elektrownię jądrowe w Polsce są zgodne z interesem publicznym oraz polityką prowadzoną przez państwo, zwłaszcza polityką energetyczną. Każdy obywatel Polski będzie mógł czerpać korzyści z energii wytwarzanej przez elektrownię jądrowe.
				</div>
			</div>
			<div class="swiper__block block swiper-slide">
				<h2 class="block__title"><span>Opinie</span></h2>
				<div class="block__image image--ibg">
					<img src="@img/slider/avatar_4.jpg" alt="Mateusz Morawecki">
				</div>
				<div class="block__name">Mateusz Morawecki</div>
				<div class="block__age">39 lat - Kierowca</div>
				<div class="block__desc">
					Decyzja Ministerstwa Klimatu Rzeczypospolitej Polskiej oficjalnie potwierdza, że inwestycje w pierwszą elektrownię jądrowe w Polsce są zgodne z interesem publicznym oraz polityką prowadzoną przez państwo, zwłaszcza polityką energetyczną. Każdy obywatel Polski będzie mógł czerpać korzyści z energii wytwarzanej przez elektrownię jądrowe.
				</div>
			</div>
		</div>
		<!-- If we need pagination -->
		<div class="swiper-pagination"></div>

		<!-- If we need navigation buttons -->
		<!-- <div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div> -->
		<!-- If we need scrollbar -->
		<!-- <div class="swiper-scrollbar"></div> -->
</div>
</section>