.company {
	position: relative;
	margin-top: 93px;
	@media(max-width: $mobileLarge) {
		margin-top: 55px;
	}
	@media(max-width: $mobileSmall) {
		margin-top: 30px;
	}
		&__container {
			@include flex-end;
		}
		&__body {
			@include flex-end-column;
			flex: 0 1 58%;
			@media(max-width: $mobileLarge) {
				flex: 0 1 64%;
			}
			@media(max-width: $mobilMedium) {
				flex: 0 1 69%;
			}
		}
		&__title {
			font-family: 'Verdana';
			font-size: 48px;
			font-style: normal;
			font-weight: 700;
			line-height: 130%;
			text-transform: uppercase;
			align-self: flex-start;
			margin-bottom: 36px;
			@media(max-width: 1240px) {
				font-size: 40px;
			}
			@media(max-width: $pcSmall) {
				font-size: 24px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 22px;
				margin-bottom: 22px;
			}
			span {
				background: linear-gradient(90deg, #1BB147 10.22%, #018ED5 104.68%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&__desc {
			@include flex-start-column;
			gap: 27px;
			color: #181818;
			font-family: Verdana;
			font-size: 22px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%; 
			letter-spacing: 0.66px;
			@media(max-width: 1240px) {
				font-size: 18px;
				gap: 20px;
			}
			@media(max-width: $pcSmall){
				font-size: 16px;
				gap: 18px;
			}
			@media(max-width: $mobileLarge) {
				font-size: 14px;
				gap: 10px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 12px;
				gap: 8px;
			}
			& p:last-child {
				font-size: 21px;
				font-weight: 700;
				@media(max-width: 1240px) {
					font-size: 18px;
				}
				@media(max-width: $pcSmall){
					font-size: 16px;
				}
				@media(max-width: $mobileLarge) {
					font-size: 14px;
				}
				@media(max-width: $mobilMedium) {
					font-size: 12px;
				}
			}
		}
		&__owner {
			margin-top: 24px;
			padding: 24px 0;
			align-self: flex-start;
			position: relative;
			color: $colorWhite;
			@media(max-width: $mobileSmall) {
				margin-left: 18px;
			}
			&::before {
				content: "";
				position: absolute;
				top: 0;
				left: 50%;
				right: 0;
				transform: translateX(-50%);
				width: 100vw; 
				height: 100%;
				background: linear-gradient(90deg, #1BB147 10.22%, #018ED5 104.68%);
				z-index: -1; 
				@media(max-width: $mobileSmall) {
					width: 200vw;
				}
			}
		}
		&__owner-name {
			font-size: 28px;
			font-weight: 700;
			text-transform: uppercase;
			margin-bottom: 10px;
			@media(max-width: 1240px) {
				font-size: 24px;
			}
			@media(max-width: $pcSmall){
				font-size: 22px;
			}
			@media(max-width: $mobileLarge) {
				font-size: 18px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 16px;
			}
		}
		&__owner-position {
			font-size: 24px;
			font-weight: 400;
			@media(max-width: 1240px) {
				font-size: 20px;
			}
			@media(max-width: $pcSmall){
				font-size: 18px;
			}
			@media(max-width: $mobileLarge) {
				font-size: 15px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 12px;
			}
		}
		&__image {
			position: absolute;
			bottom: 0;
			left: -118px;
			width: 687px;
			padding-bottom: 677px;
			@media(max-width: $pc) {
				width: 48%;
				padding-bottom: 47%;
			}
			@media(max-width: $tablet) {
				width: 50%;
				padding-bottom: 50%;
				left: -86px;
			}
			@media(max-width: $mobileSmall) {
				left: -50px;
			}
		}
}

