.earning {
	background-image: url('@img/earn/earn.png');
	background-repeat: no-repeat;
	background-size: cover;
		&__container {}
		&__body {
			@include flex-center;
			gap: 20px;
			padding: 60px 0px 70px 0px;
			@media(max-width: 1240px) {
				flex-direction: column;
			}
			@media(max-width: $mobileLarge) {
				padding: 25px 0 60px 0;
				gap: 35px;
			}
		}
}
.description {
	@include flex-start-column;
	gap: 30px;
		&__title {
			font-family: 'Verdana';
			font-size: 26px;
			font-weight: 700;
			line-height: 130%;
			color: $colorWhite;
			@media(max-width: $mobilMedium) {
				font-size: 24px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 18px;
			}
		}
		&__column {
			@include flex-start;
			gap: 20px;
		}
		&__image {
			min-width: 70px;
			height: 70px;
			@media(max-width: $mobileSmall) {
				min-width: 45px;
				height: 45px;
			}

			& img {
				border-radius: 50%;
			}
		}
		&__info {
			font-family: 'Verdana';
			font-size: 20px;
			font-weight: 400;
			line-height: 130%;
			color: $colorWhite;
			@media(max-width: $mobilMedium) {
				font-size: 18px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 14px;
			}
		}
}

.answers {
	background-color: $colorWhite;
	border-radius: 10px;
	padding: 40px 35px 60px 35px;
	@include flex-start-column;
	gap: 35px;
	flex: 0 1 80%;
	@media(max-width: $mobilMedium) {
		padding: 40px 30px;
	}
	@media(max-width: $mobileSmall) {
		padding: 20px 15px;
	}
		&__title {
			font-family: 'Verdana';
			font-size: 26px;
			font-weight: 700;
			line-height: 130%;
			@media(max-width: $mobilMedium) {
				font-size: 24px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 18px;
			}
		}
		&__info {
			font-family: 'Verdana';
			font-size: 20px;
			font-weight: 400;
			line-height: 130%;
			padding-left: 10px;
			@include flex-start-column;
			gap: 16px;
			@media(max-width: $mobilMedium) {
				font-size: 18px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 14px;
			}
		}
}
