.footer {
		&__container {
			position: relative;
		}
		&__body{
			@include flex-space-between;
			padding: 60px 40px;
			@media(max-width: $tablet) {
				flex-direction: column;
				gap: 20px;
				padding: 40px;
			}
			@media(max-width: $mobilMedium) {
				padding: 20px;
			}
			@media(max-width: $mobileSmall) {
				padding: 20px 0;
			}

			&::after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				height: 4px;
				width: 100%;
				background-color: #8a8a8a;
			}
		}
		&__data {
			@include flex-start-column;
			gap: 10px;
			color: #8a8a8a;
		}
		&__name,
		&__adress,
		&__phone {
			@media(max-width: $tablet) {
				align-self: center;
			}
			@media(max-width: $mobileSmall) {
				font-size: 13px;
				text-align: center;
			}
		}
		&__social {
			@include flex-center;
			gap: 5px;
			align-self: flex-start;
			@media(max-width: $tablet) {
				align-self: center;
				gap: 20px;
			}
		}
		&__linkedin,
		&__twitter {
			width: 40px;
			height: 40px;
			transition: all 0.3s ease 0s;
			cursor: pointer;

			@media(max-width: $mobileSmall) {
				width: 35px;
				height: 35px;
			}
		}
		&__info {
			@include flex-center;
			gap: 30px;
			align-self: flex-start;
			color: #1591d1;
			@media(max-width: $tablet) {
				align-self: center;
				gap: 20px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 14px;
			}
		}
}
