.form {
	@include flex-start-column;
	gap: 24px;
	position: relative;
	z-index: 5;
		&__body {
			@include flex-center;
			padding: 70px 0;
		}
		&__title {
			color: $colorWhite;
			font-size: 35px;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
			margin: 48px 75px 49px 75px;
			position: relative;
			z-index: 5;

			@media (max-width: $mobilMedium) {
				font-size: 28px;
				align-self: center;
				margin: 48px 0;
			}
			@media (max-width: $mobileSmall) {
				font-size: 22px;
				margin: 40px 0 30px 0;
			}

			&::after,
			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 4px;
				background-image: linear-gradient(90deg, #1BB147 10.22%, #018ED5 104.68%);
			}
			&::before {
				top: -9px;
			}
			&::after {
				bottom: -9px;
			}
		}
		&__name,
		&__surname,
		&__email,
		&__phone {
			padding: 0 33px;
			z-index: 5;
			width: 100%;
			position: relative;
			@media (max-width: $mobileSmall) {
				padding: 0px 18px;
			}
			& input {
				color: $colorGray;
				font-size: 24px;
				font-family: 'Verdana';
				padding: 16px 0px 16px 16px;
				max-width: 444px;
				width: 100%;
				border: 2px solid transparent;
				@media (max-width: $mobilMedium) {
					font-size: 20px;
				}
				@media (max-width: $mobileSmall) {
					font-size: 16px;
				}
			}
		}

		#name2::placeholder,
		#surname2::placeholder,
		#email2::placeholder,
		#phone2::placeholder {
			color: rgba(135, 135, 135, .5);
		}
		.input2[placeholder] {
			&::placeholder {
				transition: opacity 0.3s;
			}
			&:focus::placeholder {
				opacity: 0;
			}
		}
		&__btn {
			margin-top: 13px;
			margin-bottom: 61px;
			z-index: 4;
			align-self: center;
			background-color: $colorRed;
			color: $colorWhite;
			font-family: 'Verdana';
			font-size: 24px;
			text-transform: uppercase;
			padding: 16px 106px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
				
			@media (max-width: $mobilMedium) {
				padding: 16px 80px;
			}

			@media (max-width: $mobilMedium) {
				font-size: 20px;
			}

			@media (max-width: $mobileSmall) {
				font-size: 16px;
				padding: 12px 35px;
			}
			&:hover {
				background-color: $colorWhite;
				color: $colorRed;
			}
			&:active {
				transform: scale(0.9)
			}
			
		}
		&__fon1,
		&__fon2,
		&__fon3 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid #878787; 
		}
		&__fon1 {
			z-index: 2;
		}
		&__fon2 {
			transform: rotate(-3deg);
		}
		&__fon3 {
			transform: rotate(3deg);
		}
}

.error2 {
	position: absolute;
	bottom: -20px;
	left: 50px;
	color: red;
	font-weight: 700;
	@media (max-width: $mobileSmall) {
		font-size: 12px;
		left: 12px;
		bottom: -15px;
	}
}

.form__phone .error2 {
	left: 20px;
	@media (max-width: $mobileSmall) {
		left: -6px;
	}
}

