.header {
	position: relative;
	&__container {
		box-sizing: content-box;
	}
	&__wrapper {
		@include flex-center-column;
		@media (max-width: $mobileLarge) {
			flex-direction: row;
			justify-content: space-around;
		}
		@media (max-width: $mobilMedium) {
			justify-content: space-between;
			padding: 0 10px;
		}
		@media (max-width: $mobilMedium) {
			padding: 0;
		}
	}
	&__logo {
		color: $colorWhite;
		text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.7);
		font-size: 36px;
		font-weight: 400;
		line-height: normal;
		position: relative;
		z-index: 2;
		padding: 41px 0 41px 3px;
		align-self: flex-start;
		@media (max-width: $pcSmall) {
			font-size: 32px;
		}
		@media (max-width: $tablet) {
			font-size: 28px;
		}
		@media (max-width: $mobileLarge) {
			font-size: 23px;
			margin-right: 50px;
		}
		@media (max-width: $mobilMedium) {
			font-size: 23px;
			margin-right: 50px;
			display: flex;
			flex-direction: column;
			padding: 13px 0;
		}
		@media (max-width: $mobileSmall) {
			font-size: 18px;
			margin-right: 30px;
			padding: 22px 0;
		}
	}

	&__image {
		position: absolute;
		width: 100%;
		height: 60%;
		top: 0;
		left: 0;
		padding-bottom: 126px;
		@media (max-width: $tablet) {
			padding-bottom: 110px;
		}
	}
}
.burger {
	display: none;
	@media (max-width: $mobileLarge) {
		display: flex;
		position: relative;
		width: 26px;
		height: 21px;
		flex-direction: column;
		gap: 6px;
		z-index: 10;
	}
	&__line,
	&::before,
	&:after {
		content: "";
		background-color: $colorWhite;
		border-radius: 5px;
		width: 100%;
		height: 3px;
		transition: all 0.3s ease 0s;
		position: relative;
	}

	&.burger--active {
		.burger__line {
			opacity: 0;
		}

		&::before {
			transform: rotate(-45deg) translate(0px, -50%);
			top: 47%;
		}

		&::after {
			transform: rotate(45deg) translate(0px, 50%);
			bottom: 49%;
		}
	}
}
.menu {
	@include flex-center;
	border: 2px solid #1bb147;
	border-image: linear-gradient(to right, #1bb147, #018ef5);
	border-image-slice: 2;
	width: 100vw;
	position: absolute;
	top: 124px;
	@media (max-width: $tablet) {
		top: 108px;
	}
	@media (max-width: $mobileLarge) {
		width: 100%;
		top: 110px;
		right: 110%;
		transition: right 0.5s ease 0s;
		z-index: 6;
		background-image: linear-gradient(to right, rgb(149, 205, 245), rgb(134, 250, 169));
	}
	&.menu--active {
		right: 0;
	}
	&::before {
		content: "";
		position: absolute;
		top: -2px;
		left: -2px;
		right: -2px;
		height: 2px;
		background: $colorWhite;
		@media (max-width: $mobileLarge) {
			display: none;
		}
	}
	&__list {
		@include flex-center;
		padding: 14px 0px 15px 0px;
		@media (max-width: $mobileLarge) {
			flex-direction: column;
			align-items: flex-start;
			width: 100%;
			padding: 10px;
			margin-left: 60px;
			gap: 5px;
		}
		@media (max-width: $mobileSmall) {
			margin-left: 40px;
		}
	}

	&__item:not(:last-child) {
		margin-right: 140px;
		@media (max-width: 1240px) {
			margin-right: 90px;
		}
		@media (max-width: $pcSmall) {
			margin-right: 80px;
		}
		@media (max-width: $tablet) {
			margin-right: 60px;
		}
		@media (max-width: $mobileLarge) {
			margin-right: 0;
			padding: 25px 10px;
			border-bottom: 1px solid $colorBlack18;
			width: 45%;
		}
		@media (max-width: $mobilMedium) {
			width: 55%;
		}
		@media (max-width: $mobileSmall) {
			width: 85%;
		}
	}
	&__item:last-child {
		@media (max-width: $mobileLarge) {
			padding: 25px 10px;
		}
	}

	&__link {
		font-size: 24px;
		line-height: 130%;
		color: $colorBlack18;
		transition: all 0.3s ease 0s;
		@media (max-width: $pcSmall) {
			font-size: 22px;
		}
		@media (max-width: $tablet) {
			font-size: 18px;
		}
		@media (max-width: $mobileLarge) {
			font-size: 24px;
		}
		&:hover {
			color: #1bb147;
		}
	}
}
