.info {
	margin-top: 130px;
		@media (max-width: 1240px) {
				margin-top: 90px;
			}
		@media (max-width: $mobileLarge) {
				margin-top: 25px;
			}
		@media (max-width: $mobileSmall) {
				margin-top: 5px;
			}
		&__container {}
		&__body {
			@include flex-space-between;
			gap: 56px;
			@media (max-width: 1240px) {
				flex-direction: column;
			}
		}
		&__forma {
			margin-left: 32px;
			padding: 13px 17px;
			@media (max-width: 1240px) {
				order: 2;
				margin: 0;
			}
		}
}
.forma {
	@include flex-start-column;
	gap: 24px;
	position: relative;
	z-index: 5;
		&__title {
			color: $colorWhite;
			font-size: 35px;
			font-weight: 700;
			line-height: normal;
			text-transform: uppercase;
			margin: 48px 75px 49px 75px;
			position: relative;
			z-index: 5;

			@media (max-width: $mobilMedium) {
				font-size: 28px;
				align-self: center;
				margin: 48px 0;
			}
			@media (max-width: $mobileSmall) {
				font-size: 22px;
				margin: 40px 0 30px 0;
			}

			&::after,
			&::before {
				content: '';
				position: absolute;
				left: 0;
				width: 100%;
				height: 4px;
				background-image: linear-gradient(90deg, #1BB147 10.22%, #018ED5 104.68%);
			}
			&::before {
				top: -9px;
			}
			&::after {
				bottom: -9px;
			}
		}
		&__name,
		&__surname,
		&__email,
		&__phone {
			padding: 0 33px;
			z-index: 5;
			width: 100%;
			position: relative;
			@media (max-width: $mobileSmall) {
				padding: 0px 18px;
			}
			& input {
				color: $colorGray;
				font-size: 24px;
				font-family: 'Verdana';
				padding: 16px 0px 16px 16px;
				max-width: 444px;
				width: 100%;
				border: 2px solid transparent;
				@media (max-width: $mobilMedium) {
					font-size: 20px;
				}
				@media (max-width: $mobileSmall) {
					font-size: 16px;
				}
			}
		}

		#name::placeholder,
		#surname::placeholder,
		#email::placeholder,
		#phone::placeholder {
			color: rgba(135, 135, 135, .5);
		}
		.input[placeholder] {
			&::placeholder {
				transition: opacity 0.3s;
			}
			&:focus::placeholder {
				opacity: 0;
			}
		}
		&__btn {
			margin-top: 13px;
			margin-bottom: 61px;
			z-index: 4;
			align-self: center;
			background-color: $colorRed;
			color: $colorWhite;
			font-family: 'Verdana';
			font-size: 24px;
			text-transform: uppercase;
			padding: 16px 106px;
			cursor: pointer;
			transition: all 0.3s ease 0s;
				
			@media (max-width: $mobilMedium) {
				padding: 16px 80px;
			}

			@media (max-width: $mobilMedium) {
				font-size: 20px;
			}

			@media (max-width: $mobileSmall) {
				font-size: 16px;
				padding: 12px 35px;
			}
			&:hover {
				background-color: $colorWhite;
				color: $colorRed;
			}
			&:active {
				transform: scale(0.9)
			}
			
		}
		&__fon1,
		&__fon2,
		&__fon3 {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 1px solid #878787; 
		}
		&__fon1 {
			z-index: 2;
		}
		&__fon2 {
			transform: rotate(-3deg);
		}
		&__fon3 {
			transform: rotate(3deg);
		}
}

.error {
	position: absolute;
	bottom: -20px;
	left: 50px;
	color: red;
	font-weight: 700;
	@media (max-width: $mobileSmall) {
		font-size: 12px;
		left: 12px;
		bottom: -15px;
	}
}

.forma__phone .error {
	left: 20px;
	@media (max-width: $mobileSmall) {
		left: -6px;
	}
}

.iti {
	width: 100%
}

.iti-mobile .iti--container {
	width: 65%;
	top: 130px;
	left: 100px;
	@media (max-width: 1240px) {
		width: 55%;
		left: 280px;
	}
	@media(max-width: $pcSmall) {
		left: 260px;
	}
	@media (max-width: $tablet) {
		width: 80%;
		left: 80px;
	}
	@media (max-width: $mobileLarge) {
		width: 90%;
		left: 30px;
		top: 30px;
	}
	@media (max-width: $mobileSmall) {
		width: 95%;
		left: 10px;
		font-size: 14px;
	}
}

.content {
	@include flex-center-column;
	margin-right: 18px;
	flex: 0 1 50%;
	@media (max-width: 1240px) {
		margin: 0;
		align-self: stretch;
	}
		&__title {
			font-size: 36px;
			font-weight: 700;
			margin: 31px 0 16px 0;
			@media (max-width: $mobilMedium) {
				font-size: 32px;
			}
			@media (max-width: $mobileSmall) {
				font-size: 30px;
			}
		}
		&__info {
			@include flex-center;
			gap: 60px;
			width: 100%;
			margin-bottom: 12px;
		}
		&__minist {
			width: 56%;
			padding-bottom: 19%;
		}
		&__seim {
			width: 19.6%;
			padding-bottom: 14.7%;
		}
		&__rect {
			background-color: #D9D9D9;
			width: 103.5%;
			padding-bottom: 59%;
		}
}