.project {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.40) 100%), linear-gradient(90deg, #000 -5.44%, rgba(0, 0, 0, 0.50) 40.08%, rgba(0, 0, 0, 0.30) 53.95%, rgba(0, 0, 0, 0.00) 65.34%), url('@img/project/station.png') lightgray 50% / cover no-repeat;
		&__container {}
		&__body {
			@include flex-start-column;
			padding: 80px 0px 48px 0px;
			@media(max-width: $mobileSmall) {
				padding: 40px 0;
			}
		}
		&__title {
			margin-bottom: 36px;
			margin-left: 32px;
			font-family: 'Verdana';
			font-size: 48px;
			font-weight: 700;
			line-height: 130%; 
			text-transform: uppercase;
			@media(max-width: $tablet) {
				align-self: center;
				font-size: 26px;
			}
			span {
				background: linear-gradient(90deg, #1BB147 10.22%, #018ED5 104.68%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&__desc {
			@include flex-start-column;
			gap: 11px;
			margin-left: 32px;
			font-family: Verdana;
			font-size: 21px;
			font-style: normal;
			font-weight: 400;
			line-height: 130%; 
			letter-spacing: 0.63px;
			color: $colorWhite;
			width: 57%;
			@media(max-width: $tablet) {
				align-self: center;
				font-size: 18px;
				width: 65%;
			}
			@media(max-width: $mobileLarge) {
				width: 80%;
			}
			@media(max-width: $mobilMedium) {
				font-size: 15px;
				width: 85%;
			}
			@media(max-width: $mobileSmall) {
				width: 100%;
				font-size: 14px;
			}
		}
		&__btn {
			margin: 78px 0 51px 0;
			padding: 16px 40px;
			color: $colorWhite;
			font-family: 'Verdana';
			font-size: 24px;
			font-weight: 400;
			line-height: normal;
			text-transform: uppercase; 
			background-color: $colorRed;
			align-self: center;
			cursor: pointer;
			transition: all 0.3s ease 0s;
			&:hover {
				background-color: $colorWhite;
				color: $colorRed;
			}
			@media(max-width: $tablet) {
				font-size: 22px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 18px;
			}
			@media(max-width: $mobileSmall) {
				padding: 16px 20px;
				margin:55px 0 45px 0;
				font-size: 15px;
			}
		}
		&__info {text-align: center;
			font-family: 'Verdana';
			font-size: 16px;
			font-weight: 400;
			line-height: 130%; 
			color: $colorWhite;
			@media(max-width: $tablet) {
				align-self: center;
				width: 85%;
			}
			@media(max-width: $mobilMedium) {
				font-size: 14px;
			}
			@media(max-width: $mobileSmall) {
				width: 100%;
			}
		}
}
