.range {
	background-color: #0248b4;
		&__container {}
		&__body {
			@include flex-center-column;
			padding: 80px 120px 55px 120px;
			width: 100%;
			@media(max-width: $mobileLarge) {
				padding: 80px 80px 55px 80px;
			}
			@media(max-width: $mobilMedium) {
				padding: 55px;
			}
			@media(max-width: $mobileSmall) {
				padding: 20px;
			}
		}
		&__title {
			font-family: 'Verdana';
			font-size: 48px;
			font-weight: 700;
			line-height: 130%; 
			color: $colorWhite;
			margin-bottom: 30px;
			@media(max-width: $mobileLarge) {
				font-size: 36px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 32px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 23px;
			}
		}
		&__subtitle {
			font-family: 'Verdana';
			font-size: 24px;
			font-weight: 400;
			line-height: 130%; 
			color: $colorWhite;
			margin-bottom: 70px;
			@media(max-width: $mobilMedium) {
				font-size: 22px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 18px;
			}
		}
		&__lib {
			width: 100%;
		}
		&__price {
			@include flex-space-between;
			width: 100%;
			margin-top: 30px;
			font-size: 18px;
			color: $colorWhite;
			@media(max-width: $mobilMedium) {
				font-size: 14px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 11px;
			}
		}
		&__sum {
			align-self: flex-start;
			margin-top: 40px;
			font-family: 'Verdana';
			color: $colorWhite;
			@include flex-start-column;
			gap: 15px;
		}

		&__amount {
			font-size: 24px;
		}
		&__btn {
			padding: 30px 145px;
			font-size: 22px;
			color: #0248b4;
			font-weight: 700;
			margin: 65px 0px 55px 0;
			cursor: pointer;
			border-radius: 5px;
			transition: all 0.3s ease 0s;
			&:hover {
				background-color: $colorRed;
				color: $colorWhite;
			}
			@media(max-width: $mobileLarge) {
				font-size: 20px;
				padding: 30px 110px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 20px;
				margin: 65px 0px 30px 0;
				padding: 30px 90px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 18px;
				margin: 40px 0px 30px 0;
				padding: 25px 50px;
			}
		}
}

.noUi-horizontal {
	height: 6px;
}

.noUi-horizontal .noUi-handle {
	width: 28px;
	height: 28px;
	right: -24px;
	top: -12px;
}

.noUi-handle {
	border-radius: 50%;
}
.noUi-handle:after,
.noUi-handle:before {
	display: none;
}

.noUi-tooltip {
	@media(max-width: $mobileSmall) {
		font-size: 11px;
	}
}