.swiper {
	margin-bottom: 50px;
		&__body {}
		&__block {
			@include flex-center-column;
			padding: 0 80px 110px 80px;
			width: 100%;
			@media(max-width: $mobileSmall) {
				padding: 0 30px 110px 30px;
			}
			& .swiper-pagination-bullet-active{
				color: #1BB147;
			}
		}
}

.block {
		&__title {
			font-family: Verdana;
			font-size: 48px;
			font-weight: 700;
			line-height: 130%; 
			text-transform: uppercase; 
			margin: 20px 0 36px 0;
			width: 100%;
			text-align: center;
			@media(max-width: $tablet) {
				font-size: 42px;
				margin: 20px 0 30px 0;
			}
			@media(max-width: $mobilMedium) {
				font-size: 38px;
				margin: 20px 0 26px 0;
			}
			@media(max-width: $mobileSmall) {
				font-size: 30px;
			}
			span {
				background: linear-gradient(90deg, #1BB147 10.22%, #018ED5 104.68%);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}
		}
		&__image {
			width: 180px;
			height: 180px;
			border-radius: 50%;
			margin-bottom: 16px;
			@media(max-width: $tablet) {
				width: 170px;
				height: 170px;
			}
			@media(max-width: $mobilMedium) {
				width: 160px;
				height: 160px;
			}
			@media(max-width: $mobileSmall) {
				width: 150px;
				height: 150px;
			}
			& img {
				border-radius: 50%;
			}
		}
		&__name {
			color: $colorBlack18;
			font-family: 'Verdana';
			font-size: 28px;	
			font-weight: 700;
			line-height: 130%;
			text-transform: uppercase;
			@media(max-width: $tablet) {
				font-size: 26px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 24px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 20px;
			}
		}
		&__age {
			font-family: Verdana;
			font-size: 24px;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: 0.72px; 
			margin: 4px 0 24px 0;
			@media(max-width: $tablet) {
				font-size: 22px;
				margin: 4px 0 20px 0;
			}
			@media(max-width: $mobileSmall) {
				font-size: 20px;
				margin: 4px 0 16px 0;
			}
		}
		&__desc {
			color: $colorBlack18;
			text-align: center;
			font-family: 'Verdana';
			font-size: 22px;
			font-weight: 400;
			line-height: 130%;
			letter-spacing: 0.66px;
			@media(max-width: $tablet) {
				font-size: 20px;
			}
			@media(max-width: $mobileLarge) {
				font-size: 18px;
			}
			@media(max-width: $mobilMedium) {
				font-size: 15px;
			}
			@media(max-width: $mobileSmall) {
				font-size: 14px;
			}
		}
}

.swiper .swiper-pagination {
	bottom: 0;
}

.swiper .swiper-pagination-bullet {
	width: 24px;
	height: 24px;
	line-height: 20px;
	font-size: 14px;
	@media(max-width: $mobilMedium) {
		width: 22px;
		height: 22px;
	}
}

.swiper .swiper-pagination-bullet-active {
	background-color: #1BB147;
}
