/*-----Обгортка-----*/
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	> main {
		flex: 1 1 auto;
	}	
}
/*-----Обмежуючий контейнер-----*/
[class*="__container"] {
	max-width: $maxWidthContainer;
	margin: 0 auto;
	padding: 0 24px;
}
/*-----Стилі для респонсів картинок-----*/
[class*="--ibg"] {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
	// Скролл заблоковано
.lock {
	@media (max-width: $mobileLarge) {		
		overflow: hidden;
		touch-action: none;
		overscroll-behavior: none;
	}
}