$maxWidthContainer: 1392px;

$minWidth: 320px;

//Шрифт за зомовчуванням
$fontSize: 16px;
$fontWeight: 400;
$fontFamilyMain: "Verdana";

// Кольори
$mainColor: #000000;

$colorWhite: #ffffff;
$colorBlack18: #181818;
$colorRed: #fa0606;
$colorGray:rgb(135, 135, 135);

//Брейк-поінти
$pc: 1440px;
$pcSmall: 1023px;
$tablet: 991px;
$mobileLarge: 767px;
$mobilMedium:575px;
$mobileSmall: 479px;
