@font-face {
	font-family: 'Verdana';
	font-display: swap;
	src: url("../fonts/Verdana-Bold.woff2") format("woff2"), url("../fonts/Verdana-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Verdana';
	font-display: swap;
	src: url("../fonts/Verdana.woff2") format("woff2"), url("../fonts/Verdana.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
